<!DOCTYPE html>
<html>
<head>
	<title>TODO LIST</title>
</head>
<body bgcolor="#E6E6FA">
<center>
<img src="http://www.desertexposure.com/standing_images/todolist_logo.gif" alt="todolist_logo" style="width:10;height:11:">
<table border = "4" cellpadding="10">
<tr>
<th><form action="/add" method="POST">

<br>
<input type="text" name = "task" placeholder="Enter Your Task"/>
<br><br>
<input type="submit" value="Add"/>
<input type="checkbox" name ="urgent" value="true"/>URGENT
<input type="checkbox" name = "important" value="true"/>IMPORTANT

</form> <br></th>
</tr></table>
</center>
<center>
<br>
<% array.each do|var| %>
	<% if var.task && var.task!=""%>
		
		<table>
		<li>
		<% if var.urgent == "true" && var.important == "true" %>
			<color class="priority1"/>

		<% elsif var.urgent == "true" && var.important != "true" %>
			<color class="priority2"/>

		<%elsif var.urgent != "true" && var.important == "true" %>
			<color class="priority3"/>

		<%else %>
			<color class="priority4"/>	
		<% end %>
		<% if var.done %>
		<b class="strike"> <%= var.task %></b>
		
		<% else %>
		<b> <%= var.task %></b>
		<% end %>

		<form action="/done" method="POST">
	
		<input type="hidden" name="task" value="<%= var.task %>"/>

		<% if var.done %>
			<input type="submit" value="UnDone">

		<% else %>
			<input type="submit" value="Done">
		<% end %>
		</form>
		
		<form action="/remove" method="POST">
			<input type="hidden" name="task" value="<%= var.task %>"/>
			<input type="submit" value="Remove">
		</form>
		<br><br>
	<% end %>
<% end %>
</li>
</table>
</center>
<style type="text/css">
	.strike{
		text-decoration: line-through;
	}
</style>

<style type="text/css">
	.priority1{
		color:red;
	}
</style>

<style type="text/css">
	.priority2{
		color:blue;
	}
</style>

<style type="text/css">
	.priority3{
		color:green;
	}
</style>

<style type="text/css">
	.priority4{
		color:black;
	}
</style>

<style>
		form { display: inline-block; }
</style>

<style>
	input[type="text"] {
    background-color: white;
    background-repeat: no-repeat;
    padding: 20px;
}
</style>
</body>
</html>